<% provide(:title, "Log in") %>
<div style="margin: 0px 0px 0px 150px"><h1>Welcome to Library System! Log In to proceed ...</h1></div>
<br/>
<br />
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: login_path) do |f| %>

      <p>Student/Admin Login:</p>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>


      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      </br>
      <%= f.submit "Log in", class: "btn btn-primary btn-block" %>

    <% end %>

    <p>New student? <%= link_to "Sign up now!", signup_path %></p>
  </div>
</div>


<div class="col-md-6 col-md-offset-3">
  <%= form_for(:session, url: sessions_login_librarian_path) do |f| %>

    <p>Librarian Login:</p>

    <%= f.label :email %>
    <%= f.email_field :email, class: 'form-control' %>


    <%= f.label :password %>
    <%= f.password_field :password, class: 'form-control' %>

    </br>
    <%= f.submit "Log in", class: "btn btn-primary btn-block" %>

  <% end %>

  <p>New librarian? <%= link_to "Sign up now!", signup_librarian_path %></p>
</div>



